.kaufman {
    overflow: hidden;
    display: flex;
    flex-direction: column;    
    position: relative;
    padding: 90px 0;
    background-color: #1f1f1f;
    z-index: 3;
  }
  
.kaufman__triangle {    
    width: 877px;
    height: 877px;
    position: absolute;  
    /* background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../images/kaufman-triangle.svg); */
    top: 0px;
    right: -210px;
    z-index: -1;
}
  
.kaufman__section-title {
    width: 60%;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    line-height: 1.15;
    margin: 0 auto 20px auto;
}

.kaufman__section-title_theme_dark {
    color: #fff;
}
  
.kaufman__section-subtitle {
    width: 60%;
    font-size: 24px;
    text-align: center;
    line-height: 34px;
    margin: 0 auto 0;
}

.kaufman__section-subtitle_theme_dark {
    color: #fff;
}
