@import url(./header/header.css);
@import url(./description/description.css);
@import url(./digits/digits.css);
@import url(./feynman/feynman.css);
@import url(./kaufman/kaufman.css);
@import url(./footer/footer.css);

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
  width: 228px;
  height: 32px;
}

.grid {
  display: grid;
  list-style-type: none;
  row-gap: 0;  
  margin: 0;
  padding: 0;
}

.table {
  width: 1100px;    
  display: flex;
  flex-wrap: wrap;    
  justify-content: space-between;
  row-gap: 60px;
  padding-top: 60px;
  margin: 0 auto 0;
}

.table__cell {
  width: 250px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;  
  margin: 0 0 20px 0;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 20px 0;
}

.table__text:last-of-type {    
  margin: 0;
}

.table_theme_dark {
  color: #fff;
  padding-top: 80px;
  row-gap: 80px;
}

.table__cell_theme_dark {
  width: 200px;    
}
